.back-login{
-fx-background-image: url("image/start.png");
-fx-background-repeat:stretch;
-fx-background-position:center;
-fx-background-size:cover;
}
.back{
    -fx-background-image: url("image/background.png");
    -fx-background-repeat:stretch;
    -fx-background-position:center;
    -fx-background-size:cover;
}

.text{
-fx-background-color:transparent;
-fx-border-width: 0 0 3 0;
-fx-border-color: transparent transparent black transparent;
}
.textzabudol{
 -fx-underline: true;
 }

 .uvod{
  -fx-background-image: url("image/uvod.png");
  -fx-background-repeat:stretch;
  -fx-background-size:cover;
  -fx-background-position:center center;
  -fx-effect:dropshadow(three-pass-box,black,30,0.5,0,0);


  }

  .hover:hover{
  -fx-background-color:black;
  }

<<<<<<< HEAD
/*table*/

.table{
-fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}


.table-view .column-header {
    -fx-background-color: transparent;
     -fx-font-size:17px;
     -fx-font-weight:bold;
    -fx-border-width: 0 1 2 0;
    -fx-border-color:  black ;
    -fx-table-cell-border-color:black;
     -fx-table-cell-border-width:2;
     -fx-table-cell-border-color:black;

}


.table-row-cell{

    -fx-background-color:rgba(50,56,42, 0.3) ;
    -fx-table-cell-border-color:black;



}




  .table-view .table-row-cell{
         -fx-font-size:15px;
         -fx-font-weight: bold;

       }

  .table-view .table-column{
      -fx-alignment:center;
  }


.table-row-cell:odd{
        -fx-background-color: transparent;
    -fx-table-cell-border-color:black;


}

.table-row-cell{
-fx-border-width: 0 0 1.5 0;
-fx-border-color: black;
}


.table-row-cell:selected {
    -fx-background-color: #80906c;

}

.table-view .filler{
-fx-background-color:transparent;
}
/*
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
=======
/*
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-text-fill: black;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 45;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
.table-row-cell{
    -fx-text-fill: black;
}
*/
/*
.table-view {
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    !*-fx-table-header-border-color: black;*!
    -fx-padding: 5;
    -fx-text-inner-color: black;
}
.table-column:odd{
    -fx-background-color: lightgrey;
}

.table-column:even{
    -fx-background-color: transparent;
}
*/

/*
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  transparent;
}
.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}
.table-view .cell{
    -fx-cell-size: 35;
    -fx-alignment: center-left;
    -fx-background-color: #29292D;
    -fx-border-color: #29292D;
    -fx-text-fill: lightgray;
    -fx-alignment: CENTER;

}*/
>>>>>>> 1e6f19f61ae8794bbc0531a4c595f60630091090
